.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
  z-index:2;
}

.container > * {
  flex: 2; 
  flex-basis: 500px;
  border: 0px solid rgb(14, 27, 14); 
  position: relative;
  overflow: hidden; 
}

  
  .nextGame img {
    width: 425px;
    max-height: 400px;
  }
  
  .media{
    height: 100%;
    font-size: 20px;
  }
  h1{
    text-align: center;
  }